<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <section class="wrapper">
    <div class="overlay">
      <div class="land-container">
        <div class="logo">
          <img class="logo__item" src="../images/logo.svg" alt="">
        </div>
        <div class="login-container">
          <div class="shape1">
            <div class="form-container">
              <form class="form" action="">
                <p>
                  <input type="text" placeholder="EMAIL">
                </p>
                <p>
                  <input type="text" placeholder="PASSWORD">
                </p>
                <p>
                  <a href="#" class="forgot-pass">Forgot password?</a>
                </p>
              </form>
            </div>
            <div class="triangle-down"></div>
          </div>
          <div class="shape2">
            <div class="btn-container">
              <a href="#" class="login-button btn-link btn-block">submit</a>
            </div>
            <div class="tr-down"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
