doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Candidates
    link(rel='stylesheet', href='../app/client/styles/style.css')
  body.company-page
    main(role='main').content-block
      header.c-header-wrapper
        a.aside-toggle-wrapper
          span.btn-aside-toggle
        h1.c-header__company-name
          a(href='#').c-header__name EPAM
        nav.c-header__nav
          ul.c-header__list
            li.c-header__list-item
              a(href='#').c-header-link CANDIDATES
            li.c-header__list-item
              a(href='#').c-header-link MESSAGES
            li.c-header__list-item
              a(href='#').c-header-link VACANCY
            li.c-header__list-item
              a(href='#').c-header-link SEARCH
        ul.c-header-settings
          li.c-header-settings_item
            a(href='#')
          li.c-header-settings_item
            a(href='#')
      section.c-content
        header.c-content-header
          h1.c-content-header__name Candidates
        div.vacancies-container
          ul.vacancies
            li.vacancies__item.vacancies-tag Vacancies:
            li.vacancies__item
              span.vacancies-label.label-default WEB-Designer
            li.vacancies__item
              span.vacancies-label.label-primary Android Engineer
            li.vacancies__item
              span.vacancies-label.label-success HR Manager
            li.vacancies__item
              span.vacancies-label.label-info iOS Developer
            li.vacancies__item
              span.vacancies-label.label-warning Front-End Engineer
            li.vacancies__item
              span.vacancies-label.label-danger QA Engineer
        div
          table.candidates-table
            thead
              tr
                th
                th NAME
                th VACANCY
                th TEST
                th DATE
            tbody
              tr
                td.candidate-table__img-col
                  a(href='#')
                    img(src='../app/public/images/12.png').candidate-table-img
                td
                  a(href='#')
                    span.candidate-table-name Mike Pierce
                td
                  span Android Engineer
                td
                  span 9.8
                td
                  span 01.04.15
                td
                  select
                    option item1
                    option item2
                    option item3
                    option item4
              tr
                td.candidate-table__img-col
                  a(href='#')
                    img(src='../app/public/images/12.png').candidate-table-img
                td
                  a(href='#')
                    span.candidate-table-name Mike Pierce
                td
                  span Android Engineer
                td
                  span 9.8
                td
                  span 01.04.15
                td
                  select
                    option item1
                    option item2
                    option item3
                    option item4
                
    aside.sideblock
      section.int-section
        h1.int-section__header INTERVIEWMAN
        ul.int-section__list
          li.item.green
            span Interview with Andres Jasso
          li.item.orange 
            span Interview with Ian Ruppert
          li.item.red 
            span Interview with Bartosz Borowiec
          li.item.blue
            span Interview with Scott Chisholm
      section.pay-attention
        h1.pay-attention__header Pay Attention
        figure.pay-attention__card
          a(href='#').card-link.p-photo-container
            img(src='../app/public/images/1.png').card-link__photo
          div.card-container
            h3.card-container__header
              span
                a(href='#').card-link Philippe Francois
            p
              span.user-skills WEB-Designer, UI/UX Developer
            p
              span.user-skills Earlier worked: GitHub, Google
      footer
        ul.footer-list
          li.footer-list__item
            a(href='#').footer-link PRIVACY
          li.footer-list__item
            a(href='#').footer-link ABOUT
          li.footer-list__item
            a(href='#').footer-link CONTACT
          li.footer-list__item
            small.copyright &#64 2015 Interviewman, Inc.
    script(type="text/javascript").
      document.querySelector( ".aside-toggle-wrapper" )
        .addEventListener( "click", function() {
          this.classList.toggle( "active" );
          document.querySelector( ".sideblock" ).classList.toggle( "active" );
          document.querySelector( ".content-block" ).classList.toggle( "active" );
        });
