doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Candidates
    link(rel='stylesheet', href='../app/client/styles/style.css')
  body
    main(role='main')
      header
        h1
          a(href='#') EPAM
        nav
          ul
            li
              a(href='#') CANDIDATES
            li
              a(href='#') MESSAGES
            li
              a(href='#') VACANCY
            li
              a(href='#') SEARCH
        ul
          li
            a(href='#')
          li
            a(href='#')
      section
        header
          h1 Candidates
        div
          ul
            li Vacancies:
            li
              span WEB-Designer
            li
              span Android Engineer
            li
              span HR Manager
            li
              span iOS Developer
            li
              span Front-End Engineer
            li
              span QA Engineer
        div
          table
            thead
              tr
                th NAME
                th VACANCY
                th TEST
                th DATE
            tbody
              tr
                td
                  a(href='#')
                    img
                    span Mike Pierce
                td
                  span Android Engineer
                td
                  span 9.8
                td
                  span 01.04.15
                td
                  select
                    option item1
                    option item2
                    option item3
                    option item4
                
    aside
      section
        h1 interviewman
        ul
          li Interview with Andres Jasso
          li Interview with Ian Ruppert
          li Interview with Bartosz Borowiec
          li Interview with Scott Chisholm
      section
        h1 Pay Attention
        figure
          a(href='#')
            img(src='#')
          div
            h3
              span
                a(href='#') Philippe Francois
            p
              span WEB-Designer, UI/UX Developer
            p
              span Earlier worked: GitHub, Google
      footer
        ul
          li
            a(href='#') PRIVACY
          li
            a(href='#') ABOUT
          li
            a(href='#') CONTACT
          li
            small &#64 2015 Interviewman, Inc.
