doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Candidates
    link(rel='stylesheet', href='../app/client/styles/style.css')
  body.companylist-page
    header.c-header-wrapper
      div.header-row
        a.aside-toggle-wrapper
          span.btn-aside-toggle
        div.navbar-header
          a(href='#').c-header__name INTERVIEWMAN
        nav.header-nav
          ul.header-nav__list
            li.header-nav__list-item
              a(href='#').header-nav__link CANDIDATES
            li.header-nav__list-item
              a(href='#').header-nav__link MESSAGES
            li.header-nav__list-item
              a(href='#').header-nav__link VACANCY
            li.header-nav__list-item
              a(href='#').header-nav__link SEARCH
          ul.navbar-btns
            li.navbar-btns__item
              a(href='#').navbar-ico.
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" fill="#d3d3d3" viewBox="0 0 30.239 30.239" style="enable-background:new 0 0 30.239 30.239;"
                     xml:space="preserve">
                  <g>
                    <path d="M20.194,3.46c-4.613-4.613-12.121-4.613-16.734,0c-4.612,4.614-4.612,12.121,0,16.735
                      c4.108,4.107,10.506,4.547,15.116,1.34c0.097,0.459,0.319,0.897,0.676,1.254l6.718,6.718c0.979,0.977,2.561,0.977,3.535,0
                      c0.978-0.978,0.978-2.56,0-3.535l-6.718-6.72c-0.355-0.354-0.794-0.577-1.253-0.674C24.743,13.967,24.303,7.57,20.194,3.46z
                       M18.073,18.074c-3.444,3.444-9.049,3.444-12.492,0c-3.442-3.444-3.442-9.048,0-12.492c3.443-3.443,9.048-3.443,12.492,0
                      C21.517,9.026,21.517,14.63,18.073,18.074z"/>
                  </g>
                  </svg>
            li.navbar-btns__item
              a(href='#').navbar-ico.
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" fill="#d3d3d3" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M30,16.011c0-4.176-4.391-7.562-9.807-7.562c-0.098,0-0.193,0.001-0.289,0.004c2.102,1.668,3.396,3.944,3.396,6.454
                        c0,3.569-2.618,6.667-6.454,8.214c1.045,0.291,2.172,0.451,3.348,0.451c2.207,0,4.244-0.562,5.885-1.512l3.557,1.512l-1.386-3.248
                        C29.354,19.102,30,17.615,30,16.011z"/>
                      <path d="M18.801,8.99c-1.988-1.581-4.773-2.562-7.854-2.562C4.901,6.428,0,10.207,0,14.869c0,1.79,0.724,3.45,1.957,4.815
                        L0.41,23.31l3.97-1.688c1.83,1.061,4.104,1.688,6.567,1.688c1.829,0,3.552-0.346,5.067-0.957c3.495-1.409,5.881-4.231,5.881-7.483
                        C21.896,12.583,20.716,10.509,18.801,8.99z"/>
                    </g>
                  </g>
                  </svg>
            li.navbar-btns__item
              a(href='#').navbar-ico.
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" fill="#d3d3d3" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                  <g>
                    <g id="notifications">
                      <path d="M255,510c28.05,0,51-22.95,51-51H204C204,487.05,226.95,510,255,510z M420.75,357V216.75
                        c0-79.05-53.55-142.8-127.5-160.65V38.25C293.25,17.85,275.4,0,255,0c-20.4,0-38.25,17.85-38.25,38.25V56.1
                        c-73.95,17.85-127.5,81.6-127.5,160.65V357l-51,51v25.5h433.5V408L420.75,357z"/>
                    </g>
                  </g>
                  </svg>
            li.navbar-btns__item
              a(href='#').navbar-ico.
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" fill="#d3d3d3" viewBox="0 0 507.451 507.45" style="enable-background:new 0 0 507.451 507.45;"
                     xml:space="preserve">
                  <g>
                    <g id="settings">
                      <path d="M440.813,280.5c0-7.65,2.55-15.3,2.55-25.5s0-17.85-2.55-25.5l53.55-43.35c5.1-5.1,5.1-10.2,2.55-15.3l-51-89.25
                        c-2.55-2.55-7.649-5.1-15.3-2.55l-63.75,25.5c-12.75-10.2-28.05-17.85-43.35-25.5l-10.2-66.3C315.863,5.1,308.212,0,303.113,0
                        h-102c-5.101,0-12.75,5.1-12.75,10.2l-10.2,68.85c-15.3,5.1-28.05,15.3-43.35,25.5l-61.2-25.5c-7.65-2.55-12.75,0-17.851,5.1
                        l-51,89.25c-2.55,2.55,0,10.2,5.1,15.3l53.55,40.8c0,7.65-2.55,15.3-2.55,25.5s0,17.85,2.55,25.5l-53.55,43.35
                        c-5.1,5.101-5.1,10.2-2.55,15.301l51,89.25c2.55,2.55,7.649,5.1,15.3,2.55l63.75-25.5c12.75,10.2,28.05,17.85,43.35,25.5
                        l10.2,66.3c0,5.1,5.1,10.2,12.75,10.2h102c5.101,0,12.75-5.101,12.75-10.2l10.2-66.3c15.3-7.65,30.6-15.3,43.35-25.5l63.75,25.5
                        c5.101,2.55,12.75,0,15.301-5.101l51-89.25c2.55-5.1,2.55-12.75-2.551-15.3L440.813,280.5z M252.113,344.25
                        c-48.45,0-89.25-40.8-89.25-89.25s40.8-89.25,89.25-89.25s89.25,40.8,89.25,89.25S300.563,344.25,252.113,344.25z"/>
                    </g>
                  </g>
                  </svg>
        div.acc-photo
          a(href='#').acc-photo-link
            img(src='../app/public/images/1.png').acc-photo__img
    main(role='main').content-block
      section.c-content
        div.register-wrap
          form.c-form
            fieldset.c-form-fieldset
              legend.form-section-legend Company Info:
              div.error-msg.is-visible
                p Please enter a valid email address!
              div.icon
                label.c-form-label Abbreviation:
                input(type='text', name='company-abbr').company-abbr.c-input
              div.icon
                label.c-form-label Full name:
                input(type='text', name='company-name').company-name.c-input
              div.icon
                label.c-form-label Founding date:
                input(type='text', name='founding-date').founding-date.c-input
              div.icon
                label.c-form-label Country of origin:
                p
                  select.cof.c-input
                    option(value='blr') Belarus
                    option(value='rus') Russia
                    option(value='usa') United States
              div.icon
                label.c-form-label Email:
                input(type='text', name='company-email').company-email.c-input
            fieldset.c-form-fieldset
              legend.form-section-legend Address Info:
              div.icon
                label.c-form-label Address Line 1:
                input(type='text', name='founding-date').founding-date.c-input
              div.icon
                label.c-form-label Address Line 2:
                input(type='text', name='founding-date').founding-date.c-input
              div.icon
                label.c-form-label Home Post Code:
                input(type='text', name='founding-date').founding-date.c-input
              div.submit-wrapper
                input(type='submit', value='Register').c-btn-submit
