doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title User page
    link(rel='stylesheet', href='../app/client/styles/style.css')
  body.user-page
    main(role='main').userpage-content-block
      header.c-header-wrapper
        h1.c-header__company-name
          a(href='#').c-header__name INTERVIEWMAN
      section.u-main-content
        nav.user-nav
          ul.user-nav__list
            li.user-nav__list-item
              a(href='#').user-nav-link My Profile
            li.user-nav__list-item
              a(href='#').user-nav-link Vacancies
            li.user-nav__list-item
              a(href='#').user-nav-link Follow
            li.user-nav__list-item
              a(href='#').user-nav-link Lorem
            li.user-nav__list-item
              a(href='#').user-nav-link Ipsum
        section.user-profile-container
          div.u-avatar-wrapper
            img(src='../app/public/images/12.png').u-avatar
            a(href='#').user-button MESSAGE
            a(href='#').user-button JOB OFFER
          div.u-info
            header.u-name
              h1 Sally Flores
            section.u-info-section
              div.col.col-1
                ul
                  li 
                    h1 Location
                    p London, Great Britan
                  li 
                    h1 Skills
                    p WEB-Design, UI/UX
                  li 
                    h1 Experience
                    p 10 Years
              div.col.col-2
                ul
                  li 
                    h1 Location
                    p London, Great Britan
                  li 
                    h1 Skills
                    p WEB-Design, UI/UX
                  li 
                    h1 Experience
                    p 10 Years
              div.col.col-3
                h1 About
                p
                  | London, Great Britan London, Great Britan London, Great Britan
                  | London, Great Britan London, Great Britan London, Great Britan
    
