template(name='userRegister')
  section.wrapper
    .overlay
      .land-container
        .logo
          img(class='logo__item', src='../images/logo.svg', alt='')
        .login-container
          .form-container
            form(class='form')
              .auth-form-body
                p
                  input(name='username', class='input-block login-field', type='text', placeholder='USERNAME')
                  span.error-message Blank or 3 to 12 symbols!
                p
                  input(name='email', class='input-block email-field', type='email', placeholder='EMAIL')
                  span.error-message Incorrect email!
                p
                  input(name='password', class='input-block password-field', type='password', placeholder='PASSWORD')
                  span.error-message Oops, wrong password!
                .help-btns-wrapper
                  p(class='register-with') #{text.registerWith}
                  .social-btns
                    a(href='#')
                      i.facebook-ico
                    a(href='#')
                      i.google-ico
                button(type='submit').register-button #{text.register}
                p.dha Have an account? -
                  a(href='/login') Sign in
