// imports
@import '../utils/index';

// variables
$form-container-bg-color: #fff;
$submit-btn-container-color: #118b7e;
$submit-btn-color: #fff;

.form-container {
  background-color: $form-container-bg-color;
  opacity: .8;
  position: relative;
  width: 300px;

  &:after {
    border-left: 0 solid transparent;
    border-right: 90px solid transparent;
    border-top: 50px solid $form-container-bg-color;
    content: '';
    height: 0;
    margin-left: 24px;
    position: absolute;
    width: 0;
  }
}

.auth-form-body {
  padding: 35px 50px;
}

.input-block {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.btn-container {
  background-color: $submit-btn-container-color;
  float: right;
  margin-top: 20px;
  opacity: .8;
  width: 185px;

  &:after {
    border-left: 71px solid transparent;
    border-right: 0 solid transparent;
    border-top: 42px solid $submit-btn-container-color;
    content: '';
    height: 0;
    margin-left: 94px;
    position: absolute;
    width: 0;
  }
}

.forgot-pass {
  @include font-size(14px);
  color: rgba(0, 0, 0, .5);

  &:hover {
    text-decoration: underline;
  }
}

.login-button {
  @extend .btn-link;
  @extend .btn-block;
  @include font-size(24px);
  color: $submit-btn-color;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.social-btns {
  @include clearfix();
  display: inline-block;
  margin-left: 45px;
  vertical-align: middle;
}

.facebook-ico {
  background: url('../images/facebook.svg');
  background-size: cover;
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}

.google-ico {
  background: url('../images/google.svg');
  background-size: cover;
  display: block;
  float: left;
  height: 20px;
  margin-left: 10px;
  width: 20px;
}
