// imports
@import '../utils/index';

// variables
$user-page-bg-color: #f9f9f9;
$info-header-color: #878787;

.user-page {
  //background-color: $user-page-bg-color;
}

.userpage-content-block {
  position: relative;
  top: 66px;
}

.normal-flow {
  left: 0;
}

.u-avatar-wrapper {
  float: left;
  width: percentage(200px / 1130px);
}

.u-avatar {
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-button {
  @include font-size(12px);
  @extend .btn;
  @extend .btn-block;
  @extend .btn-info;
  margin-bottom: 10px;
  border-radius: 5px;
}

.u-name {
  //margin-bottom: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.u-name__name {
  @include font-size(24px);
  font-weight: 400;
}

.u-info-section {
  @include clearfix;
}

.u-info {
  float: left;
  //padding-left: 40px;
  padding-left: 15px;
  padding-right: 15px;
  width: percentage(930px / 1130px);
}

.row {
  @include clearfix;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.no-bottom-line {
    border-bottom: none;
  }
}

.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  //width: percentage(310px / 930px);
}

.left-col {
  width: 60%;
  //margin-right: 35px;
}

.right-col {
  float: right;
  padding-left: 15px;
  padding-right: 15px; 
}

.rc-table {
  @include font-size(14px);
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #f9f9f9;
}

.rc-table__col {
  padding: .5em;
}

.short-info {
  @include font-size(14px);
  color: darkgrey;
  font-weight: 300;
}

.place {
  margin-right: 15px;
}

.p-about {
  @include font-size(14px);
  margin-top: 15px;
}

.col-exp {
  width: 50%;
}

.p-content-head {
  font-weight: 400;
}

.row-exp-skill {
  @include clearfix;
  padding-top: 40px;
}

.exp-list__item {
  @include font-size(14px);
  padding: .8em;
}

.exp-content {
  margin-top: 20px;
}

.exp-vacancy {
  margin-right: 5px;
  color: #207cca;
}

.exp-company {
  margin-left: 5px;
  margin-right: 10px;
  color: #207cca;
}

.exp-timeline {
  @include font-size(12px);
  color: darkgrey;
}

.col-skill {
  width: 50%;
}

.skill-content {
  margin-top: 20px;
}

.skill-list__name {
  @include font-size(14px);
}

.skill-list__progress {
  height: 15px;
  box-shadow: none;
  background-color: #F0F0F0;
  margin-bottom: 20px;
  border-radius: 3px;
}

.progress-bar {
  width: 90%;
  line-height: 15px;
  height: 100%;
}

.progress-green {
  background-color: #5cb85c;
}

.progress-red {
  background-color: #d9534f;
}

.progress-blue {
  background-color: #5bc0de;
}

.progress-orange {
  background-color: #f0ad4e;
}
