// variables
$bg-color: #1b1b1b;
$header-font-color: #fff;
$chat-bg-color: #f5f5f5;

.videocall-body {
  background-color: $bg-color;
}

.header {
  background-image: linear-gradient(to bottom, #4a5bb9 50%, #4051b5 90%);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .35);
  color: $header-font-color;
  padding-bottom: 13px;
  padding-top: 13px;
}

.candidate-name {
  font-weight: 100;
  text-align: center;
}

.l-video {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.video-wrapper {
  height: 500px;
  position: relative;
}

.remote-video {
  height: 100%;
  position: absolute;
  width: 100%;
}

.local-video {
  border: 3px solid rgba(0, 0, 0, .15);
  bottom: 20px;
  height: 100px;
  position: absolute;
  right: 20px;
  width: 180px;
}

.l-chat {
  background-color: $chat-bg-color;
}

.chat-area {
  height: 140px;
  overflow-y: auto;
}

.chat-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.input-message {
  height: 30px;
  width: 100%;
}

.username {
  color: #53bd5b;
  font-size: 25px;
  font-weight: bold;
}

.message-body {
  font-size: 18px;
}
